.landing-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2.5fr 2.5fr 1fr;
  grid-template-rows: 175px 1fr;
  grid-template-areas:
    ".      navigation       navigation       ."
    ".      content          image            .";
  
  .landing-navigation {
    grid-area: navigation;
    justify-self: center;
    align-self: center;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: bold;
      font-size: 45px;
    }

    .signing {
      text-decoration: none;
      color: black;
    }
  }
}