$base-font-size: 13px;
$brown-bg-color: #544343;

.Home-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 50px 70px 50px 1fr;
  grid-template-areas:
    ".      .             ."
    ".      navigation    ."
    ".      .             ."
    ".      years         ."
    ".      .             .";

  .Navigation {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin: 0 30px;
      color: #1f1919;
    }

    .navlink {
      text-decoration: none;
      color: black;

      &:hover {
        color: white;
      }
    }
  }

  .YearList {
    grid-area: years;
    justify-self: center;
    align-self: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .Year {
      border-radius: 5px;
      width: 80%;
      padding: 15px 5px;
      background: $brown-bg-color;
      margin-bottom: 2px;
      text-align: center;
      cursor: pointer;

      h2 {
        color: white;
        font-weight: bold;
        background: -webkit-linear-gradient(0deg, #D6A4A4, #DAE2F8);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 20px;
      }
    }

    .MonthList-true {
      display: block;

      .PostList-true {
        display: block;
      }

      .PostList-false {
        display: none;
      }
    }

    .MonthList-false {
      display: none;
    }
  }
}
