.Home-container {
  text-align: center;
  margin-top: 50px;

  .YearComponent {

    .MonthList {
      display: none;

      .PostList-true {
        display: block;
      }

      .PostList-false {
        display: none;
      }
    }
  }
}
