.Login {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 50px 70px 65px 1fr;
  grid-template-areas:
    ".      .              ."
    ".      loader         ."
    ".      .              ."
    ".      login          .";

  .loading {
    grid-area: loader;
    justify-self: center;
    align-self: center;
  }

  .form {
    grid-area: login;
    justify-self: center;
    align-self: center;
    
    display: flex;
    flex-direction: column;
    align-items: center; 

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    button {
      background: white;
      border: none;
      border-radius: 20px;
      padding: 10px 15px;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 15px gray;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
