.App {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: start;
  background: #DAE2F8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D6A4A4, #DAE2F8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D6A4A4, #DAE2F8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: grid;
  grid-template-columns: 1fr 650px 1fr;
  grid-template-rows: 50px 70px;
  grid-template-areas: 
    ".      .             ."
    ".      navigation    .";

  .Navigation {
    grid-area: navigation;
    display: flex;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 30px;
      margin: 0 30px;
      font-weight: bold;
      color: #1f1919;
    }

    .navlink {
      text-decoration: none;
      color: black;

      &:hover {
        color: white;
      }
    }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}